extends layout

block content
  script(src='/javascripts/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.js')
  script.
    var newErrorMessage
    $(document).ready(function() {
    newErrorMessage = function(wtf) {
        // TODO: if wtf is an XHR, obtain text from it
        $('<div>').text(wtf).appendTo($('#errMsg'))
    }
        $('#newMsg').click(function() {
            newErrorMessage($('#newMsgText').val());
            jQuery('#myModal').find('.modal-body').html($('#newMsgText').val());
            jQuery('#myModal').modal('show');
            setTimeout(function(){jQuery('#myModal').modal('hide');}, 3000);
            jQuery.get('http://localhost:3000/err', {}, function(data){console.log(data)});
        })
    })
  p Hello Master
  input#newMsgText(type='text' value='Error message text')
  input#newMsg(type='button' value='New error message')
  #errMsg