extends layout

block content
  script(src='/javascripts/jquery-1.11.2.min.js')
  script(src='/javascripts/jqueryrotate.2.1.js')
  script(src='/javascripts/transform2d.js')
  

  if playing
    style.
        #game {
            position: absolute;
            top: 100px;
            width: 300px;
            height: 300px;
            background-color: #ccc;
        }
        #err {
            bottom: 10px;
            height: 50px;
            width: 90%;
            position: absolute;
            background-color: #fcc;
        }
        #dbg {
            bottom: 70px;
            height: 50px;
            width: 90%;
            position: absolute;
            background-color: #cfc;
        }
        .player {
            position: absolute;
            width: 50px;
            height: 50px;
        }
        .alive {
            background-color: #ffc;
        }
        .dead {
            background-color: #888;
        }
        .tower {
            position: absolute;
            width: 40px;
            height: 10px;
            background-color: #0f0;
        }
    script(src='/javascripts/tanks.js')
    p You are in game
    #game
    #err
    #dbg

  else
     p Not playing
     input#enter(type='button', value='Refresh')
     script.
       $('#enter').click(function() {
          $.get('/game/enter')
             .done(function() {
             location.reload()
             })
       })
