extends layout

block content
  script(src='/javascripts/jquery-1.11.2.min.js')
  if playing
    p Now playing
    script.
      setInterval(function(){
        $.get('/game/circle')
          .done(function(){
            document.write(players.position.x)
          })

      },1000)

  else
    input#enter(type='button' value='enter')
    script.
        $('#enter').click(function() {
            $.get('/game/enter')
                .done(function(){
                  location.reload()
                })
        })
