extends layout

block content
  script(src='/javascripts/jquery-1.11.2.min.js')
  script(src='/javascripts/jqueryrotate.2.1.js')
  script(src='/javascripts/transform2d.js')
  link(rel='stylesheet', href='/stylesheets/tanks.css')


  if playing
    style.
        #game {
            position: absolute;
            top: 50px;
            width: 1100px;
            height: 500px;
            background-color: #ccc;
        }
        #err {
            bottom: 10px;
            height: 50px;
            width: 90%;
            position: absolute;
            background-color: #fcc;
        }
        #dbg {
            bottom: 70px;
            height: 50px;
            width: 90%;
            position: absolute;
            background-color: #cfc;
        }

    script(src='/javascripts/tanks.js')
    p You are in game
    #game
    #err
    #dbg

  else
     p Not playing
