extends layout

block content
  script(src='/javascripts/jquery-1.11.2.min.js')
  script(src='/javascripts/chat.js')
  #chat
  #message
    form
      label(for='msg')= name
      input#msg(type='text', name='msg')
      input#sendMessage(type='submit', value='send')
