.player {
    position: absolute;
    width: 118px;
    height: 44px;
    border: 2px solid #333300; /* Ширина и цвет границ*/
    border-radius: 14px; /* Радиус границ*/
    box-shadow: 0 0 22px #000000; /* Размер и цвет тени блока*/

}
.alive {
    background: url(alive.jpg);
}
.dead {
    background-color: #333;
}

.cant_shoot {
    background-color: #f75;
}
.tower {
    position: absolute;
    width: 114px;
    height: 38px;
    background: url(tower.png);
}

.respawning{
    background-color: #aaa;
    animation-name: respawning;
    -webkit-animation-name: respawning;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.respawning:hover {
  -webkit-animation: none;
}

@keyframes respawning {
    0% {
        transform: scale(0.7);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.7);
        opacity: 0.7;
    }
}




@-webkit-keyframes respawning {
    0% {
        -webkit-transform: scale(0.7);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.7);
        opacity: 0.7;
    }
}

